@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Fira Sans;
}

#landing-trapezoid {
    clip-path: polygon(0 0, 30% 0, 100% 100%, 0 100%);
}

button[type='submit'] {
    background: #69306D;
}
